body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: none;
  padding-left: 40px;
}

.first-li,
.last-li {
  padding-left: 20px;
}
